body
{
background: url(../images/contact.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family:'Helvetica Neue', sans-serif;

}
h2
{
color: white;
 font-size: 30px;
text-align:center;

}
#a
{
  float:left;
   margin-top: 80px;
}
#b
{
  float:right;
   margin-top: 80px;
}
#c
{
  float:right;
   margin-top: 85px;
   font-size:30px;
}
.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}
/* Blue */
.info {
  color: dodgerblue;
}

.info:hover {
  background: #2196F3;
  color: white;
}
.social-icon{


     font-size:40px;

}
.social-icon a
{
  color:white;
}
.social-icon : hover
{
 cursor:hand;
}
.line-break
{
  width:325px;
  margin: 0 auto;
  border-top: 1px solid white;
  
}



.contact
{

  height:400px;
    width:900px;
    background:rgba(0,0,0,0.8);
    padding:40px;
    color:white;
    margin: 0 auto;
    margin-top:120px;
    text-align: center;

}
